




.img{
    height: 325px;
    margin-top: 10px;
     width: 500px;     
     border-radius: 12px;
}



.styless{
 /*  background-color: #dcd3d3;    */

 background: rgb(42, 42, 60); 
}



.text{
    color: white;
}

