


*{
    padding: 0;
    margin: 0;
}

.colour1{
    background-color: white;
}


.Style1{
    height: auto;
    width: auto;
 /*   background-color: rgb(199, 194, 193);  */
    margin-left: 70px;
    margin-right: 70px;

}




.Heading3{
    margin-left: 5px;
    font-size: 42px;  
    font-family: fantasy;

   }
